#navbar{
    display: flex;
    align-items: center;
    background-color: rgb(29, 29, 80);
    margin-bottom: -22px;
}

#navbar *{
    color: white;
}

#navbar h1{
    margin: 5px;
    margin-left: 20px;
    font-weight: light;
    font-size: 45px;
}

.recents{
    font-size: 30px;
    position: absolute;
    left: 45%;
    transform: translate(-50%);
}

.watching{
    font-size: 30px;
    position: absolute;
    left: 55%;
    transform: translate(-50%);
}

.log{
    font-size: 30px;
    position: absolute;
    left: 98%;
    transform: translate(-100%);
}