.Recents{
    background-image: url("Anime Wallpaper.jpg");
    background-size: cover;
}

.Recents h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: rgb(47, 47, 47);
}

.Recents .items{
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
    row-gap: 30px;
    column-gap: 30px;
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
}

.Recents .item{
    background-color: rgba(57, 57, 57, 0.681);
    height: 450px;
    position: relative;
}

.Recents .item *{
    color: white;
    font-weight: normal;
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.Recents .item img{
    margin-top: 15px;
}

.Recents .item h2{
    font-size: 23px;
    margin-top: 12px;
}

.Recents .item h3{
    position: absolute;
    top: 395px;
}